@import '../../styles/mixins';

.root {
  display: block;

  // TODO:
  // @include sm {
  //   .mainBox {
  //     width: 100%;
  //   }

  //   .inner {
  //     width: 100%;
  //     flex-direction: column !important;
  //   }

  //   .infoBox {
  //     width: 100%;
  //     justify-content: flex-start;
  //     margin-top: .5rem;
  //   }

  //   &.rootRight {
  //     .mainBox {
  //       flex-direction: row-reverse;
  //     }
  //   }
  // }

  &.rootLeft {

    .inner, .infoBox {
      flex-direction: row;
    }
  }

  &.rootRight {

    .inner, .infoBox {
      flex-direction: row-reverse;
    }

    .mainBox {
      flex-direction: row-reverse;
    }

    .messageBox {
      margin-left: .625rem;
      margin-right: 1.25rem;

      &::before {
        left: auto;
        right: -20px;
        transform: rotateY(180deg);
      }
    }
  }

  .mainBox {
    @include flex-center;
  }

  .messageBox {
    margin-left: 1.25rem;
    margin-right: .625rem;
  }

  .inner {
    @include flex-center;
  }

  .messageBox {
    padding: .4rem 1rem;
    border-radius: 4px;
    background: var(--color-white);
    line-height: 150%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 10px;
      left: -20px;
      border: 10px solid;
      border-color: transparent var(--color-white) transparent transparent;
    }
  }
}

.success {
  color: var(--color-success);
}

.error {
  color: var(--color-danger);
}

.infoBox {
  @include flex-center;
}

.info {
  @include font($size: .8rem);
  @include flex-center-center;
  padding: 0;
  flex-direction: row;
}
