@import '../../styles/mixins';

.root {
  display: block;

  .messageBox {
    margin-left: 1.25rem;
    margin-right: .625rem;
  }

  &.rootLeft {

    .inner, .infoBox {
      flex-direction: row;
    }
  }

  &.rootRight {

    .inner, .infoBox {
      flex-direction: row-reverse;
    }

    .messageBox {

      &::before {
        transform: rotateY(180deg);
        left: auto;
        right: -20px;
      }
    }
  }

  .inner {
    @include flex-center;
  }

  .messageBox {
    padding: .4rem 1rem;
    border-radius: 4px;
    background: var(--color-white);
    line-height: 150%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 10px;
      left: -20px;
      border: 10px solid;
      border-color: transparent var(--color-white) transparent transparent;
    }
  }
}

.success {
  color: var(--color-success);
}

.error {
  color: var(--color-danger);
}

.infoBox {
  display: flex;
  align-items: center;
}

.info {
  @include font($size: .8rem);
  @include flex-center-center;
  padding: 0;
  flex-direction: row;
}
