@import '../../styles/mixins';

.root {
  @include font($weight: 400);
  display: inline-block;
  border-radius: 4px;
  padding: .375rem .75rem;
  line-height: 1.5;
  border: 1px solid transparent;
  
  &.rootPrimary {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }
}

.inner {
  @include font($weight: 400);
  @include flex-center-center;

  i {
    margin-left: 4px;
  }
}