@import './variables.scss';

// Apply :hover effect
@mixin hover {
  background-color: var(--color-white);
  background-image: -webkit-linear-gradient(right, var(--color-hover), var(--color-white));
}

// Apply :active effect
@mixin active {
  background-color: var(--color-white);
  background-image: linear-gradient(right, var(--color-active), var(--color-white));
  background-image: -webkit-linear-gradient(right, var(--color-active), var(--color-white));
}

// Font setter
@mixin font($font-family: $base-font, $size: 1rem, $weight: 300) {
  font-family: $font-family;
  font-size: $size;
  font-weight: $weight;
}

@mixin text-overflow-n($n) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
}

@mixin text-overflow-1 {
  @include text-overflow-n(1);
}

@mixin text-overflow-2 {
  @include text-overflow-n(2);
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl}) {
      @content;
  }
}