@import './variables.scss';

// Apply :hover effect
@mixin hover {
  background-color: var(--color-white);
  background-image: -webkit-linear-gradient(right, var(--color-hover), var(--color-white));
}

// Apply :active effect
@mixin active {
  background-color: var(--color-white);
  background-image: linear-gradient(right, var(--color-active), var(--color-white));
  background-image: -webkit-linear-gradient(right, var(--color-active), var(--color-white));
}

// Font setter
@mixin font($font-family: $base-font, $size: 1rem, $weight: 300) {
  font-family: $font-family;
  font-size: $size;
  font-weight: $weight;
}

@mixin form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: var(--color-select);
  background-color: var(--color-white);
  background-clip: padding-box;
  border: 1px solid var(--color-select-border);
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-overflow-n($n) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
}

@mixin text-overflow-1 {
  @include text-overflow-n(1);
}

@mixin text-overflow-2 {
  @include text-overflow-n(2);
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl}) {
      @content;
  }
}